
<!Doctype html>
<html>

<head>
    
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  
       <!-- for ajax cdn  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"> </script>  

<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>




</head>

<body>


    <!-- signup page html code start -->

    <div class="container-fluid my-0 py-5 ">
            <!-- <div class="d-flex flex-row justify-content-center "> -->

                <div class="col-12">

                 <button class="btn btn-primary add_btn my-3">Add more Users</button>

                <?php    echo $this->Form->create('State',['url'=>['controller'=>'Crud','action'=>'saveuser']]);
                         echo $this->Form->input('id',['type'=>'hidden']);
                         
                ?>

<td><?php    echo $this->Form->input('name',['class'=>'w-25 mx-3']);  ?></td>
<td><?php    echo $this->Form->input('name',['class'=>'w-25 mx-3']);  ?></td>

                      
                <table>
                        <thead >
                            
                            <tr class='bg-info '>
                                <th class=''>S.No</th>
                                <th class='p-3 rounded'>Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Action</th>
                           </tr>

                        </thead>

                        <tbody>

                        <?php  

                        // pr($this->request->data);exit;
                       
                   
                                if(!empty($this->request->data)){
                                
                                        $x = 1;
                                        foreach($this->request->data['Crud'] as $key=>$val){

                                                $id = $val['uid'];
                                                $nm = $val['name'];
                                                $mb = $val['mobile'];
                                                $em = $val['email'];
                                        ?>
        
                                        <tr >

                                        <td class='p-2'>
                                        <h6><?php echo $x; ?></h6>
                                       </td>
                                        <td class='p-2'>
                                        <h6><?php echo $nm; ?></h6>
                                       </td>

                                       <td class='p-2'><h6><?php echo $mb; ?></h6></td>
                                        <td class='p-2'><h6><?php echo $em; ?></h6></td>
                                       
                                        <td class='p-2'><?php echo $this->Html->link('edit',['controller'=>'Crud','action'=>'Add_user',base64_encode($id)],['class'=>'btn btn-primary ml-3']);  ?>
                                          <input value='Delete' type='button' class='btn btn-danger w-25 rm_btn' user_id=<?php echo $id; ?>></td></tr>
                                        <?php

                                        // $x =  $x + 1;
                                          
                                        }

                                }

                        
                        ?>


                        </tbody>
                </table>


                <?php    echo $this->Form->end('Submit');   ?>
                    



   

          </div>

        </div>
       



<script>

$(document).ready(function () {
        
        
        var i = <?php if(!empty($user_data['Crud'])){echo count($user_data['Crud']); }else{ echo 0;}?>

        var num = <?php if(!empty($x)){echo $x; }else{ echo 1;}?>
        

        $(document).on('click',".add_btn",function(){
            
            $record = "<tr><td>"+parseInt(num)+"</td><td><input placeholder='Enter name' name='data[Crud]["+i+"][name]'></td><td> <input placeholder='Enter Mobile' name='data[Crud]["+i+"][mobile]'></td><td> <input placeholder='Enter Email' name='data[Crud]["+i+"][email]'></td><td> <input value='Delete' type='button' class='btn btn-danger rm_btn w-25 ' style='margin-left:75px;' user_id=<?php if(!empty($id)){ echo $id; } ?>></td></tr>";

        $("tbody").append($record);

        i++;
        num++;
        // <php $y++;  ?>

                
        });

        $(document).on('click','.rm_btn',function(){

                var current_uid = $(this).attr('user_id');
                var current_tr = $(this);
        
                $.ajax({
                      url:'Crud/add_state',
                      method:'post',
                      data:{user_id:current_uid},
                      success:function(res){
                          if(res==1){
                           
                                 $(current_tr).closest('tr').remove();

                          }else{

                                 alert('somthing went wrong');
                          }
                      },
                      error:function(err){
                        if(err.status == 404){
                                if($(current_tr).closest('tr').remove()){
                                        i--;
                                } 
                        }
                      }

                })
                

        
        })

        

        $("#myform").validate({


                rules: {

                'data[State][name]': {
                required: true
                
                }
                },

                messages: {
                
                'data[State][name]': "* Please enter State name "

                }


        });


        


        
        
});
       




</script>

  </body>

<html>
    

