<?php





// echo "heloo";

// pr($d);


// echo ($a);
// echo ($b);
// echo ($c);






echo $this->Html->link('click',['controller'=>'Customer','action'=>'viewlist']);




?>


<h1>this is from home page</h1>



<p>Hi user how r u </p>