
<!Doctype html>
<html>

<head>
    

<?php
//    echo $this->Html->css('bootstrap.min.css');
?>

<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
  
  <!-- for ajax cdn  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"> </script>  

<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>


</head>

<body>


    <!-- signup page html code start -->

    <div class="container-fluid my-0 py-5 bg-info">
        <div class="container">
            <div class="d-flex flex-row justify-content-center ">

                <div class="col-6">

                    <div class="mb-3 ">

                        <div class="bg-white  border border-top-0 p-3 rounded">
                            <div class="col-lg-12 ">
                                <h4 class="text-center">ADD USER</h4>

                                <table>
                                          <tbody>

                                                <tr>
                                                    <th class="col-12" style="margin-bottom:0px"><?php  echo $this->Form->input('All Credentials',['type'=>'checkbox'],['name'=>'email','id'=>'em']);    ?></th>
                                                    
                                                </tr>
                                                  
                                                <tr class='col-12'>
                                                    <th>
                                                    <div class=""><?php  echo $this->Form->input('Add',['type'=>'checkbox'],['name'=>'email','id'=>'em']);    ?></div>
                                                    </th>
                                                    <th>
                                                    <div class=""><?php  echo $this->Form->input('View',['type'=>'checkbox'],['name'=>'email','id'=>'em']);    ?></div>

                                                    </th>
                                                    <th>
                                                    <div class=""><?php  echo $this->Form->input('Edit ',['type'=>'checkbox'],['name'=>'email','id'=>'em']);    ?></div>

                                                    </th>
                                                    <th>
                                                    <div class=""><?php  echo $this->Form->input('Delete ',['type'=>'checkbox'],['name'=>'email','id'=>'em']);    ?></div>

                                                    </th>
                                                </tr>
                                          </tbody>







                                </table>

                                       <?php


                                            // echo $this->Form->create('login',['method'=>'post','id'=>'myform']);
                                            // echo $this->Form->input('email',['name'=>'email','id'=>'em']);
                                            // echo $this->Form->input('password',['name'=>'pass','id'=>"ps"]);

                                            // echo $this->Form->submit('submit',['class'=>'ml-2 btn btn-primary']);


                                            pr($w);



                                            echo $this->request->url['product'][0];


                                        ?>
                                        


                                            <div class="container">

                                            <div class="row">
                                                


                                            
                                            
                                        
                                              </div>

                                            <div class="row">
                                                

                                                <div class="col-12" style="margin-bottom:0px"><?php  echo $this->Form->input('Modules',['type'=>'checkbox'],['name'=>'email','id'=>'em']);    ?></div>

                                                <div class="col-3"><?php  echo $this->Form->input('User',['type'=>'checkbox'],['name'=>'email','id'=>'em']);    ?></div>
                                                <div class="col-3"><?php  echo $this->Form->input('Role',['type'=>'checkbox'],['name'=>'email','id'=>'em']);    ?></div>
                                                <div class="col-3"><?php  echo $this->Form->input('State ',['type'=>'checkbox'],['name'=>'email','id'=>'em']);    ?></div>
                                            
                                            </div>


                                            <?php

                                            echo $this->Form->create('login',['method'=>'post','id'=>'myform']);

                                            echo $this->Form->input('name',['name'=>'name','id'=>'em']);
                                            echo $this->Form->input('mobile',['name'=>'mobile','id'=>"ps"]);
                                            echo $this->Form->input('email',['name'=>'email','id'=>'em']);
                                            echo $this->Form->input('password',['name'=>'pass','id'=>"ps"]);

                                            echo $this->Form->submit('submit',['class'=>'ml-2 btn btn-primary']);


                                        ?>

                                    </div>

                                    

                                    </div>
                                
                            </div>

                        </div>


                    </div>
                </div>



            </div>



        </div>


<script>

        $(document).ready(function () {


        $("#p_cred").click(function(){

            if($(this).is(":checked")){

                $(".c_cred").prop("checked",true);

            }else{
                $(".c_cred").prop("checked",false);
            }

        })


        $("#p_mod").click(function(){

            if($(this).is(":checked")){

                $(".c_mod").prop("checked",true);

            }else{
                $(".c_mod").prop("checked",false);
            }

        })


        // $( "form" ).on( "submit", function(e) {

        //     var em = $("#em").val();
        //     var ps = $("#ps").val();

        //     $.ajax({
                
        //         method: 'POST',
        //         url:"Rbc/login",
        //         data: {em:em,ps:ps},
        //         success:function(d){
        //             // $("#add").html(d);
        //             if(d == 1){

        //                 // window.open('Rbc/dash');
        //                 window.location = 'Rbc/dash';

        //             }else{

        //                 alert('you have enter wrong credentials');
        //             }
        //         }
                
        //     });	

        //     e.preventDefault();


        // });

        // $("#MyForm").validate({


        //     rules: {

            
        //     'email': {
        //         required: true,
        //         email: true,

        //     },

        //     'pass': {
        //         required: true

        //     }

        //     },

        //     messages: {

        //     'email': "Please enter email ",
        //     'pass': "Please enter pass "
            

        //     }


        // });


        });



</script>

      </body>
    <html>
    

