

<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>

            <?php

            echo $this->Form->create('login');

                
            // echo $this->Form->input('email',['id'=>'em']);

            echo $this->Form->input('Password');

            echo $this->Form->submit('submit');

            echo $this->Form->end();



            // echo $u;
                
            // echo SessionComponent::read('uid');

            // echo $this->request->url['product'];

            
            // echo  $this->Link->makeEdit();

            ?>
    
</body>
</html>

